/* * {
    margin: 0;
    padding: 0;
}
div {
  color: pink;
  font-size: x-large;
  background-color: black;
  line-height: 50px;
  font-weight: 700;
  text-align: center;
}

img{
    border-radius: 10px;
    height: 500px;
    display: block;
    margin: 50px auto;
}
 */
