.App {
    text-align: center;
    margin: auto;

}

.container {
    width: 450px;
    margin: 20px auto;
    color: white;
    background-color: #0F303B;
    border-radius: 10px;
    padding: 5px 0;
}

.main-form .input {
    width: 60%;
    height: 30px;
}

.main-form input:focus {
    outline: none;
}

.main-form button {
    background-color: #800080;
    font-size: large;
    padding: 7px 10px;
    border-radius: 5px;
    margin-left: 5px;
    border: none;
    color: white;
}

.list-todo {
    display: flex;
    border: 2px sol