*{
    box-sizing: border-box;
}
.imageBox{
    background-color: red;
    width: 300px;
    border-radius: 50% 50% 20px 20px;
    font-size: 0;
}
img{
    width: 300px;
}
.main{
    width: fit-content;
    border: 1px solid #999999;
    border-radius: 163px 163px 20px 20px;
    margin: auto;
;
}
.nav{
    padding: 20px;
    width: 340px;

}