.nav-bar {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
}

.nav-bar li a {
  text-decoration: none;
  padding: 10px 20px;
}

.nav-bar li {
  padding: 10px 20px;
}

.nav-bar li:first-child {
  background-color: blue;
}

.nav-bar a {
  color: white;
}