<form method="POST" action="" class="create-form">
  <div class="input-wrapper">
    <input type="text" name="productName" placeholder="Product Name" />
  </div>
  <div class="input-wrapper">
    <input type="text" name="image" placeholder="Image" />
  </div>
  <div class="input-wrapper">
    <input type="text" name="from" placeholder="Country" />
  </div>
  <div class="input-wrapper">
    <input type="text" name="nutrients" placeholder="Nutrients" />
  </div>
  <div class="input-wrapper">
    <input type="number" name="quantity" placeholder="Quantity" />
  </div>
  <div class="input-wrapper">
    <input type="text" name="price" placeholder="Price" />
  </div>
  <div class="input-wrapper">
    <input type="text" name="description" placeholder="Product Name" />
  </div>
  <div class="input-wrapper checkbox">
    <label for=""> Organic </label>
    <input name="organic" type="checkbox" checked="true" />
  </div>
  <button>🥭🥭BOOM! Add fruit🥦🥦</button>
</form>
